/*COLORS*/
/*#2E4D50 -- light navy*/
/*#223F43 -- mid navy*/
/*#1A292C -- dark navy*/
/*#FF3D00 -- bright orange*/
html, body {
    height:100%;
    width:100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 150%;
}

/*h4{
  font-size: 2vw;
}*/

footer {
  background: #dddee1;
  padding: 5vh 0;
  text-align: center;
  position: relative;
}

small {
  opacity: .5;
  font-weight: 300;
}
small a {
  color: inherit;
}

.main-container{
  max-width:1200px;
  margin: auto;
  border-top: 1vh solid;
  border-color: #1A292C;
  background: #2E4D50;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #223F43), color-stop(3.333%, #2E4D50),  color-stop(99%, #2E4D50), color-stop(99%, #1A292C), color-stop(100%, #1A292C));
  padding:10px;
  position: relative;
}

.footer {
  background: #ccc;
  padding: 1vh 0;
}
/*
SIDE COLOR BAR. Have to rethink...
Maybe make a div that is full page at 1200?
*/
.personal-info-main {
  /*background-image: -webkit-gradient(linear, 10% 50%, 100% 50%, color-stop(0%, #223F43), color-stop(96.333%, #223F43), color-stop(96.333%, #00a7e9), color-stop(100%, #00a7e9));*/
}